mixin about()
	+b.SECTION.about#about
		.container

			+e.img

			+b.title-wrapper
				.title-info
					span 08
					span.title-line
					span Застройщик
				h2.title-text О застройщике <strong>Qamqor Qurylys</strong>

			+e.content
				+e.info
					+e.text
						p Qamkor Qurylys – строительная компания, которая существует на рынке с 2005 года. С начала основания возвели 12 объектов в г. Актобе, 3 объекта в г. Нур-Султан. На данный момент 3 объекта находятся на стадии строительства.
						br
						p Следуя своей миссии – созданию идеальных домов для жизни, Qamkor Qurylys придерживается открытой и честной политики, а также проявляют внимание к каждой детали. Все для того, чтобы вы обрели свою мечту.

			+e.items
				+e.item 16 ЛЕТ
					span Существование на рынке
				+e.item 12
					span Количество объектов
				+e.item 3
					span Стадия строительства объектов


