mixin footer(data)
	+b.FOOTER.footer
		.container
			+e.top
				+e.logo
					+e.logo_wrapper
						+e.IMG(src="img/footer/logo.webp" alt="logo").logo_img
						+e.logo_text Qamkor Qurylys – строительная компания, которая существует на рынке с 2005 года.
					.footer-social
						span Соц.сети:
						a(href="#").insta--yellow
						a(href="#").fb--yellow

				+e.NAV.nav
					+e.H3.nav_header Навигация:
					+e.nav_wrapper
						+e.UL.list
							+e.LI.link
								a(href="#smart") О комплексе
							+e.LI.link
								a(href="#home") Умный дом
							+e.LI.link
								a(href="#advantages") Приемущества
							+e.LI.link
								a(href="#location") Расположение
							+e.LI.link
								a(href="#concept") Концепция
						+e.UL.list
							+e.LI.link
								a(href="#layouts") Планировки
							+e.LI.link
								a(href="#buy") Способ покупки
							+e.LI.link
								a(href="#about") О застройщике
							+e.LI.link
								a(href="#contacts") Контакты

				+e.contacts
					+e.H3.contacts_header Контакты:
					+e.contacts_wrapper
						+e.address
							span Отдел продаж:
							address г. Нур-Султан, пр. Қабанбай батыра 7, оф. 2 ЖК "Премьера 1”
						+e.numbers
							span Номера телефонов:
							+e.A(href="tel:+77172696796").number +7 (7172) 696-796
							+e.A(href="tel:+77077696796").number +7 (707) 7 696 796
					.footer-social.disable
						span Соц.сети:
						a(href="#").insta--yellow
						a(href="#").fb--yellow

			+e.bottom
				+e.rights GBG 2021. Все права защищены

				+e.developer
					a(href="https://flava.kz/" target="_blank") Сайт разработали:
						img(src="img/flava.svg", alt="logo")
